<!-- Partial for the activity tasks -->
css:
  .activity-bar {
    margin: 5px;
    position: relative;
    padding-left: 0;
    height: 100%;
    box-shadow: rgba(0, 0, 0, 0.238281) 0px 1px 5px;
    border-top-left-radius: 2px 2px;
      border-top-right-radius: 2px 2px;
      border-bottom-right-radius: 2px 2px;
      border-bottom-left-radius: 2px 2px;
  }

  .activity-bar-id {
    height: 100%;
    position: relative;
    margin: 15px;
    margin-left: 10px;
    font-size: 90%;
  }

  .activity-bar-content {
    padding: 15px;
    width: 70%;
    overflow: hidden;
  }

  .activity-bar.alert-danger:hover {
    cursor: pointer;
    opacity: .7;
  }

- if activity.is_completed?
  .activity-bar.alert.alert-block.alert-success

    - if current_user.is_admin?
      button.close.close-sm data-dismiss="alert" type="button" onclick='removeActivity(#{activity.a_id})'
        i.fa.fa-times

    span.activity-bar-id = activity.a_id
    span.activity-bar-content
      strong style="font-size: 90%;"
        strike = "#{activity.content} (Project #{activity.project})"

      span style="float: right; font-size: 80%;"
        i.fa.fa-check

- else
  div.activity-bar.alert.alert-block class='#{disabled ? 'alert-warning' : 'alert-danger'}'
    /  <!-- <button data-dismiss="alert" class="close close-sm" type="button"> -->
    /  <!-- <i class="fa fa-times"></i> -->
    /  <!-- </button> -->

    - if current_user.is_admin?
      button.close.close-sm data-dismiss="alert" type="button" onclick='removeActivity(#{activity.a_id})'
        i.fa.fa-times

    span.activity-bar-id = activity.a_id

    span.activity-bar-content
      strong style="font-size: 90%;"
        = "#{activity.content} (Project #{activity.project})"

      / <!-- Psuedo Rewards with points condition -->
      - if current_user.experimental_condition == "Initial condition"
        span style="float: right; font-size: 130%;"
          = @current_point_values[activity.a_id-1]
          i.fa.fa-star-o

      - elsif current_user.points? || current_user.constant_points?
        span style="float: right; font-size: 130%;"
          = @current_point_values[activity.a_id-1]
          i.fa.fa-star-o

      - elsif current_user.monetary? || current_user.length_heuristic?
        span style="float: right; font-size: 130%;"
          i.fa.fa-usd
          = '%.2f' % (@current_point_values[activity.a_id-1]/ 100.0)

      - elsif current_user.experimental_condition == "monetary condition x 10"
        span style="float: right; font-size: 130%;"
          i.fa.fa-usd
          = '%.2f' % (@current_point_values[activity.a_id-1]/ 10.0)

javascript:
  var removeActivity = function(activity_id){
    console.log("Deleting activity");
    console.log(activity_id);
    $.get('/delete_activity/' + String(activity_id), function(data) {
      console.log("deleting activity");
    });
  }
