css:
  .activity-completed {
    text-decoration: line-through;
  }

  .activity-completed.alert-success {
    background-color: rgb(223, 240, 216, 0.5);
    border-color: rgb(214, 233, 198, 0.5);
    color: rgb(60, 118, 61, 0.5);
  }

  .activity-completed.alert-danger {
    background-color: rgb(242, 222, 222, 0.5);
    border-color: rgb(235, 204, 209, 0.5);
    color: rgb(169, 68, 66, 0.5);
  }

  .activity-bar {
    margin: 5px;
    position: relative;
    padding-left: 0;
    height: 100%;
    box-shadow: rgba(0, 0, 0, 0.238281) 0px 1px 5px;
    border-top-left-radius: 2px 2px;
      border-top-right-radius: 2px 2px;
      border-bottom-right-radius: 2px 2px;
      border-bottom-left-radius: 2px 2px;
  }

  .activity-bar-id {
    height: 100%;
    position: relative;
    margin: 15px;
    margin-left: 10px;
    font-size: 90%;
  }

  .activity-bar-content {
    padding: 15px;
    width: 70%;
    overflow: hidden;
  }

  .activity-bar.alert-danger:hover {
    cursor: pointer;
    opacity: .7;
  }

.activity-bar.alert.alert-block class=[disabled && 'alert-warning', activity.is_completed? && 'activity-completed', activity.points >= 0 ? 'alert-success' : 'alert-danger']
  - if current_user.is_admin?
    button.close.close-sm data-dismiss="alert" type="button" onclick='removeActivity(#{activity.a_id})'
      i.fa.fa-times

  span.activity-bar-id = activity.a_id

  span.activity-bar-content
    strong style="font-size: 90%;"
      = "#{activity.content} (Project #{activity.project})"

    - if current_user.initial? || current_user.points? || current_user.constant_points?
      span style="float:right; font-size: 130%;"
        = activity.points
        i.fa.fa-star-o

    - elsif current_user.monetary? || current_user.length_heuristic?
      span style="float: right; font-size: 130%;"
        i.fa.fa-usd
        = '%.2f' % (activity.points / 100.0)

    - elsif current_user.monetaryX10?
      span style="float: right; font-size: 130%;"
        i.fa.fa-usd
        = '%.2f' % (activity.points / 10.0)

javascript:
  var removeActivity = function(activity_id){
    console.log("Deleting activity");
    console.log(activity_id);
    $.get('/delete_activity/' + String(activity_id), function(data) {
      console.log("deleting activity");
    });
  }
