<!-- Partial for the activity tasks -->

<style>

	.activity-bar {
		margin: 5px;
		position: relative;
		padding-left: 0;
		height: 100%;
	}

	.activity-bar-id {
		height: 100%;
		position: relative;
		margin: 15px;
		margin-left: 10px;
	}	

	.activity-bar-content {
		padding: 15px;
		width: 70%;
		overflow: hid;
	}

	.activity-bar:hover {
		cursor: pointer;
		opacity: .7;
	}
</style>

<div class="activity-bar alert alert-block alert-danger">
    <!-- <button data-dismiss="alert" class="close close-sm" type="button"> -->
    <!-- <i class="fa fa-times"></i> -->
    <!-- </button> -->
    <span class="activity-bar-id"><%= activity.id %></span>
    <span class="activity-bar-content"><strong><%= activity.content %></strong> (<%= activity.duration %> min) 
    	<span style="float: right;"><%= activity.points %> <i class="fa fa-star-o"></i> </span>
    </span>
    
    
 </div>
