<style>
    /*Container for buttons in the activity container*/
    .activity-content-wrap {
    	height: 300px;
    }
    .activity-functions {
        position: relative;
        width: 100%;
        margin-bottom: 15px;
        padding-left: 0;
    }   


    .experiment-game-container {
    	position: relative;
    	height: 95%;
    	border: 1px solid #eee;
    	padding: 5px;
    }

</style>
<div class="activity-content-wrap">
    <div class="container activity-functions">
        <button class="btn btn-danger" onclick="displayExperiment()"> Start </button>
        <button class="btn btn-info" onclick="removeExperiment()"> Abort </button>
        <button class="btn btn-warning" onclick="displayTetris()"> Play Tetris </button>
    </div>
	<h2> Target Dectection <%= activity_id %></h2>
	<div class="experiment-game-container" style="overflow: hidden;">
		<div class="game-content" style="width: 100%; height: 100%; overflow: hidden;">  <h4 style="text-align:center; margin-top: 100px;"> Start The Experiment </h4> </div>  
	</div>

    <div class="row" style="padding: 5px; padding-left: 15px;">
      <form class="form-inline" role="form">
          <!-- Validation code input -->
          <div class="form-group">
              <input type="password" class="form-control" id="activity-progress-input" placeholder="Enter Code Here" style="padding: 5px; width: 90%;" onkeyup="check_code(this.value, <%= activity_id %>)">
          </div>
          <!-- <button type="submit" class="btn btn-success">Update Activity</button> --> 

	         <!-- <span id="finish_activity_button"> <%= link_to "Finish Activity", finish_activity_path(activity_id: activity_id, :user_id => current_user.id ), :type => "submit", :class => "btn btn-success", :id => "update_score_btn", :disabled => true  %> </span> -->
           
      </form>
    </div>	
</div>
<script>


  //Check activity code
  function check_code(val, activity_id) {

      // BUG HERE~~~~
      var currentId = document.getElementsByClassName('tab-pane active')[0].id;

      // console.log("ACTIVITY ID " + activity_id);
      // console.log("CURRENT ID " + currentId);

      // Javascript GET call
      $.get('/activity_detail/' + String(currentId), function(data){     
        var activity_object = data[0];
        // console.log(activity_object);
        if (val == activity_object.code){
          console.log("success");
          console.log("is completed + " + activity_object.is_completed);
          // var fullHtml = '<%= link_to "Finish Activity", finish_activity_path(activity_id: ' + currentId + ', :user_id => current_user.id ), :type => "submit", :class => "btn btn-success", :id => "update_score_btn", :disabled => true  %> '

          // $('#finish_activity_button').html(fullHtml);
          // console.log($('#update_score_btn'));
          // var current_activity_completed = document.getElementById();
          if (!activity_object.is_completed) {
            // $('#update_score_btn').attr('disabled', false); 
            $('#update_score_btn').show(); 
          }
          
          // $('#update_score_btn').prop('disabled',false)
          // $('#update_score_btn').show();
          // $('#update_score_btn').removeAttr("disabled");
        }
      	else {
        //   $('#update_score_btn').attr("disabled");
      		// $('#update_score_btn').attr('disabled', true); 
          // $('#update_score_btn').prop('disabled',true)
          // $('#finish_activity_button').html("");
          $('#update_score_btn').hide();
      	}
      });
  }

  // FrontEnd Controller for activity view
  function displayTetris() {
    var tetrisGame = '<object data="https://cocosci.berkeley.edu/mturk/falk/taskRating/Tetris/index.html" style="width: 100%; height: 100%; overflow: hidden;";/>';
    $(".game-content").html(tetrisGame);

    //Log Tetris Time
    $.get('/start_tetris/', function(data) {
	     console.log(data);
    });    

  }

  function displayExperiment() {

      // GET request to backend with activity id, to get the activity's completion code and duration from the backend. 
      //Get the current active activity Id.
      var currentId = document.getElementsByClassName('tab-pane active')[0].id;
      console.log("displaying ex");



      // Javascript GET call
      $.get('/activity_detail/' + String(currentId), function(data){ 
        console.log(data[0]);
        var activity_object = data[0];
        var act_duration = activity_object.duration;
        var act_code = activity_object.code;
        console.log(act_code + act_duration);

        var http_link = "https://cocosci.berkeley.edu/mturk/falk/taskRating/Vigilance/index.html?duration=" + String(act_duration) + "&code=%22" + String(act_code) + "%22";

        // Experiment URL
        var experiment = '<object id="vigilance" data="' + String(http_link) + '" style="display: table; width: 100%; height: 100%; overflow: hidden;";/>';
    
        $(".game-content").html(experiment);
      });      

      // Starting Activity and logging in db
      $.get('/start_activity/' + String(currentId), function(data){ 
        console.log(data[0]);
      });
      // document.getElementById('vigilance').style.width = '350px';
  }

  function removeExperiment() {
    var currentId = document.getElementsByClassName('tab-pane active')[0].id;
    $(".game-content").html("<h4 style='text-align:center; margin-top: 100px;''> Experiment Aborted </h4>");
    $.get('/abort_activity/' + String(currentId), function(data){ 
      console.log(data);
    });
  }

</script>
