
<section class="content">
    <div class="row">
        <div class="col-md-12">
            <!--breadcrumbs start -->
            <ul class="breadcrumb">
                <li><a href="#"><i class="fa fa-home"></i> Home</a></li>
                <li class="active"><a href="#">LeaderBoard</a></li>
                <li class="active">All Tasks</li>
            </ul>
            <!--breadcrumbs end -->
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
        	<div class="description-heading">
        		<h4>Cognitive Tools for Self Mastery</h4>
        		<p>Leaderboard section displaying where you currently stand in comparision to all other participants. </p>
        	</div>
        </div>
    </div>
</section>

<!--  -->
<!-- <h1 class="header-text"> Cognitive Tools for Self Mastery</h1> -->
<!-- <h3 style="text-align: center"> All tasks </h3> -->

<div class="activities-wrapper row">
  <% @activities.each do |activity| %>
    <!-- Insert activity partial here -->
    <%= render 'activity', activity: activity %>
  <% end %>
</div>

	




