<h1 class="header-text"> Cognitive Tools for Self Mastery </h1>


<div class="activities-wrapper row">
  <% @activities.each do |activity| %>

    <!-- Insert activity partial here -->
    <%= render 'activity', activity: activity %>
  <% end %>
</div>





