<h1 class="header-text"> Cognitive Tools for Self Mastery </h1>


<div class="activities-wrapper row">
  <% @activities.each do |activity| %>
    <div class="activity">
      <div class="activity-head">
        <div class="name">
          Owen Chen
        </div>
      </div>
      <div class="image center-block">
        <%= link_to (image_tag activity.image.url(:medium), class:'img-responsive'), activity_path(activity) %>
      </div>
      <p class="caption">
        <%= activity.content %>
      </p>
    </div>
  <% end %>
</div>
