<!-- only displaying my activities -->

<section class="content">
    <div class="row">
        <div class="col-md-12">
            <!--breadcrumbs start -->
            <ul class="breadcrumb">
                <li><a href="#"><i class="fa fa-home"></i> Home</a></li>
                <li class="active"><a href="#">My Activities</a></li>
                <li class="active"> <%= current_user.user_name %> </li>
            </ul>
            <!--breadcrumbs end -->
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
        	<div class="description-heading my-tasks-heading">
        		<h4>Listing all activities for <%= current_user.user_name %> </h4>
        		<p>Here are all of your personal activities for the procrastination experiment</p>
        	</div>
        </div>
    </div>

    <div class="row" style="padding: 15px;">
        <section class="panel">
            <header class="panel-heading">
                Striped Progress Bars
            </header>
            <div class="panel-body">
                <div class="col-md-2">
                    <div class="stat">
                        <div class="stat-icon" style="color:#45cf95;">
                            <i class="fa fa-check-square-o fa-3x stat-elem"></i>
                        </div>
                        <h5 class="stat-info">928 Tasks</h5>
                    </div>
                </div>    

                  <div class="progress progress-striped">
                    <div class="progress-bar progress-bar-primary progress-bar-striped" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width: 40%">
                      <span class="sr-only">40% Complete (success)</span>
                    </div>
                  </div>
            </div>
        </section>
    </div>

</section>


<!-- <h2 style="text-align:center;"> Displaying my activities</h2> -->
<!-- <div style="text-align:center;"> <%= current_user.user_name %> </div> -->

<div class="activities-wrapper row">
  <% @activities.each do |activity| %>
    <!-- Insert Activity partial only if activity id matches with current logged in user -->
    <% if current_user.id == activity.user_id %>
    	<%= render 'activity', activity: activity %>
    <% end %>
    
  <% end %>
</div>
