<h2 style="text-align:center;"> User Settings </h2>
<div style="text-align:center;"> <%= current_user.user_name %> </div>
<div style="text-align:center;"> <b> Score: </b><%= current_user.score %> </div>
<div style="text-align:center;"> <b> Level: </b><%= current_user.level %> </div>
<div style="text-align:center;"> <b> Experimental Condition: </b><%= current_user.experimental_condition %> </div>