css:
  #set_default_act_btn {
    font-size: 80%;
  }

  .user-container {
    width: 60%;
    margin-top: 50px;
    background: #ffffff;
    padding: 15px;
    box-shadow: rgba(0, 0, 0, 0.15625) 0px 1px 5px;
    border-top-left-radius: 2px 2px;
    border-top-right-radius: 2px 2px;
    border-bottom-right-radius: 2px 2px;
    border-bottom-left-radius: 2px 2px;
  }

  .user-jumbo {
    height: 100%;
    margin-bottom:0;
    box-shadow: rgba(0, 0, 0, 0.15625) 0px 1px 5px;
    border-top-left-radius: 2px 2px;
    border-top-right-radius: 2px 2px;
    border-bottom-right-radius: 2px 2px;
    border-bottom-left-radius: 2px 2px;
  }

  .export-buttons {
    margin-top: 15px;
    margin-bottom: 10px;
    margin-left: 5px;
  }

  .admin-container {
    width: 60%;
    margin-top: 50px;
    background: #ffffff;
    height: 400px;
    padding: 15px;
    border-radius: 5px;
  }

.user-container.container
  .jumbotron.user-jumbo
    h1.text-center Account & Help

    p
      div style='text-align:center;'
        strong Username: 
        = current_user.user_name

      div If you have completed all of the tasks, then this page lets you generate the Bonus Code that will get you paid via Amazon Mechanical Turk. If you would like to contact the experimenter then please click the Contact button. If you want to learn more about the purpose of the experiment, then you can click the About button. Finally, if you want to quit the experiment for good, then you can click the Quit Experiment button.

      - if current_user.points?
        .text-center
          strong Score: 
          = current_user.score

        .text-center
          strong Level: 
          = current_user.level

      - elsif current_user.monetary?
        .text-center
          strong
            | Money Earned: 
            i.fa.fa-usd
          = current_user.score.to_f / 100
          | 0

      - elsif current_user.monetaryX10?
        .text-center
          strong
            | Money Earned: 
            i.fa.fa-usd
          = current_user.score.to_f / 10
          | 0

        .text-center
          strong Level: 
          = current_user.level

    p.text-center
      a.btn.btn-primary.btn-lg data-toggle='modal' href='#myModal3' Contact

  .row.export-buttons
    - if current_user.is_admin?
      a.btn.btn-warning.btn-md data-toggle='modal' href='#myModal2' style='font-size:80%;' Export Experiment Code
      a.btn.btn-success data-toggle='modal' href='#myModal' style='font-size:80%;' About this Experiment

    - else
      - if allow_generate_bonus_code?
        a.btn.btn-warning.btn-md.generate-bonus-code-btn data-toggle='modal' href='#myModal2' style='font-size:80%;' Generate Bonus Code
      - else
        a.btn.btn-warning.btn-md data-toggle='modal' disabled=true style='font-size:80%;' Generate Bonus Code

      |  
      a.btn.btn-success data-toggle='modal' href='#myModal' style='font-size:80%;' About this Experiment
      |  
      a.btn.btn-danger.btn-md.generate-quit-code-btn data-toggle='modal' href='#myModal4' style='font-size:80%;' Quit Experiment

    .modal.fade#myModal tabindex='-1' role='dialog' aria-labelledby='myModalLabel' aria-hidden='true'>
      .modal-dialog
        .modal-content
          .modal-header
            button.close type='button' data-dismiss='modal' aria-hidden='true' ×
            h4.modal-title About this Experiment

          .modal-body
            p This HIT is a psychology experiment being conducted by Falk Lieder, a graduate student in Professor Tom Griffiths’s Computational Cognitive Science Lab at the University of California, Berkeley. This web application was built by Owen Chen, a research assistant under Falk Lieder.
            p This study is designed to investigate the effects of different types of digital to-do list tools on productivity and motivation.
            p Your participation in this research is voluntary. You may refrain from answering any questions that make you uncomfortable and may quit the study at any time without penalty.

          .modal-footer
            button.btn.btn-default data-dismiss='modal' type='button' Close

    .modal.fade#myModal3 tabindex='-1' role='dialog' aria-labelledby='myModalLabel' aria-hidden='true'
      .modal-dialog
        .modal-content
          .modal-header
            button.close type='button' data-dismiss='modal' aria-hidden='true' ×
            h4.modal-title Contact Information

          .modal-body
            p If you have any questions about the study, feel free to contact Falk Lieder. He can be reached at falk.lieder@berkeley.edu. <br><br> If you have concerns about your rights as a participant in this experiment, please contact UC Berkeley's Committee for Protection of Human Subjects at (510) 642-7461 or subjects@berkeley.edu.” <br><br> For issues, bugs, or comments regarding this application and website, you may contact Owen Chen. He can be reached at owenchen@berkeley.edu

          .modal-footer
            button.btn.btn-default data-dismiss='modal' type='button' Close

    .modal.fade#myModal4 tabindex='-1' role='dialog' aria-labelledby='myModalLabel' aria-hidden='true'
      .modal-dialog
        .modal-content
          .modal-header
            button.close type='button' data-dismiss='modal' aria-hidden='true' ×
            h4.modal-title Quitting Experiment

          .modal-body
            p Are you sure you want to quit the experiment for good? If you quit now, you will not be able to return. You will  receive a bonus of $3 per hour of successfully completed tasks rather than the full $20 bonus you can receive if you finish the experiment by the deadline.
            | Your code is:
            br
            strong#quit_code
            br
            br
            p If you choose to quit, please copy and paste or write down this bonus code and enter it into the "Reimbursement for Todo List Experiment” by requester “CoCoSci Lab at UC Berkeley”. 

          .modal-footer
            button.btn.btn-default data-dismiss='modal' type='button' Cancel
            a.btn.btn-info.btn-md href='/quit_experiment' role='button' Confirm

    .modal.fade#myModal2 tabindex='-1' role='dialog' aria-labelledby='myModalLabel' aria-hidden='true'
      .modal-dialog
        .modal-content
          .modal-header
            button.close type='button' data-dismiss='modal' aria-hidden='true' ×
            h4.modal-title Export Code

          .modal-body
            - if current_user.points?
              | Congratulations! You have earned a $20 bonus. To collect your bonus, please log into Amazon Mechanical Turk, find the HIT called "Todo List Study Post-Survey", by the requester "CoCoSci Lab at UC Berkeley", and input the code there.

            - elsif current_user.monetary?
              | The amount you have earned so far is displayed in the upper left corner. If this is the first time you have collected your bonus, you will be paid the current amount you have earned. To collect your bonus, please log into Amazon Mechanical Turk, find the HIT called "Todo List Study Post-Survey", by the requester "CoCoSci Lab at UC Berkeley" and paste the code there.
              
            - elsif current_user.monetaryX10?
              | The amount displayed in the upper left corner is the bonus you have earned so far times 10. If this is the first time you have collected your bonus, you will be paid the current amount you have earned.  To collect your bonus, please log into Amazon Mechanical Turk, find the HIT called "Todo List Study Post-Survey", by the requester "CoCoSci Lab at UC Berkeley" and paste the code there.  

            br
            br
            | Your export code is:
            br
            strong#export_code
            br
            p Use this code to redeem your rewards from the facilitator of this experiment.

          .modal-footer
            button.btn.btn-default data-dismiss='modal' type='button' Close

- if current_user.is_admin?
  .admin-container.container
    h3 Admin controls
    p This is only visible to users with "Admin status." Options to set the default experimental activities and to export all user and activity data.
    h5 Instructions for facilitating activities for an admin:

    ul
      li Add activities with "New Activity" page, viewable only through admin access. This can be only granted if username is "Admin", and entering "/enable_admin/9128"
      li Add up to max 10 activities, with correct content title, duration, score, completion code, and activity number
      li Instruct experimentee's to create an account, click their account, and set their activities to get all the activities that an admin as set

    br
    = link_to 'Export Data', export_data_path, class: 'btn btn-warning btn-md', id: 'export_data_btn'
    = link_to 'Export User Data', export_user_data_path, class: 'btn btn-success btn-md', id: 'export_user_data_btn'
    = link_to 'Export Answers', admin_answers_path(format: :json), class: 'btn btn-success btn-md', id: 'export_user_data_btn'

javascript:
  $('.generate-bonus-code-btn').on('click', function() {
    console.log('Generating code');

    $.get('/generate_code', function(data) { $('#export_code').html(data) });
  });

  $('.generate-quit-code-btn').on('click', function() {
    console.log('Generating code for quitting');

    $.get('/generate_code', function(data) { $('#quit_code').html(data) });
  });
